@import '../../styles-var';

.#{$prefix}-message-box {
  /* your style */
  &__icon {
    font-size: 28px;
    margin-right: 2px;
  }
  &__icon--success {
    color: $success;
  }
  &__icon--info {
    color: $info;
  }
  &__icon--danger {
    color: $danger;
  }
  &__icon--warning {
    color: $warning;
  }
  .#{$prefix}-modal__header {
    padding-top: 16px;
    padding-bottom: 16px;
    justify-content: center;
  }
  .#{$prefix}-modal__content {
    padding-bottom: 16px;
    justify-content: center;
  }
  .#{$prefix}-modal__footer {
    padding-bottom: 16px;
    justify-content: center;
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__cancel-button {
    margin-right: 12px;
  }
}
