$base-bg : var(--promiseui-base-bg,#ffffff);
$line : var(--promiseui-line,#aea6ad);
$shadow : var(--promiseui-shadow,rgba(37, 43, 58, 0.2));
$brand : var(--promiseui-brand,#5e7ce0);
$brand-hover : var(--promiseui-brand-hover,#7693f5);
$danger : var(--promiseui-danger,#f66f6a);
$warning : var(--promiseui-warning,#fac20a);
$waiting : var(--promiseui-waiting,#9faad7);
$success : var(--promiseui-success,#50d4ab);
$info : var(--promiseui-info,#5e7ce0);
$text : var(--promiseui-text,#2f272f);
$text-weak : var(--promiseui-text-weak,#575d6c);
$light-text : var(--promiseui-light-text,#ffffff);
$disabled-bg : var(--promiseui-disabled-bg,#f6f6f6);
$disabled-line : var(--promiseui-disabled-line,#dfe1e6);
$disabled-text : var(--promiseui-disabled-text,#cbcacb);