$base-bg: var(--promiseui-base-bg, #ffffff);
$bg-hover: var(--promiseui-bg-hover, rgba(46, 50, 56, 0.05));
$border-color: var(--promiseui-border-color, rgb(224, 224, 230));
$line: var(--promiseui-line, #aea6ad);
$shadow: var(--promiseui-shadow, rgba(37, 43, 58, 0.2));
$brand: var(--promiseui-brand, #5e7ce0);
$brand-hover: var(--promiseui-brand-hover, #7693f5);
$brand-active: var(--promiseui-brand-active, #344899);
$brand-shadow: var(--promiseui-brand-shadow, rgb(124, 145, 229, 0.3));
$danger: var(--promiseui-danger, #f66f6a);
$danger-active: var(--promiseui-danger-active, #b12220);
$warning: var(--promiseui-warning, #fac20a);
$warning-active: var(--promiseui-warning-active, #cf9236);
$success: var(--promiseui-success, #50d4ab);
$success-active: var(--promiseui-success-active, #449c81);
$info: var(--promiseui-info, #909399);
$info-active: var(--promiseui-info-active, #82848a);
$text: var(--promiseui-text, #2f272f);
$waiting: var(--promiseui-waiting, #9faad7);
$text-weak: var(--promiseui-text-weak, #575d6c);
$light-text: var(--promiseui-light-text, #ffffff);
$disabled-bg: var(--promiseui-disabled-bg, #f6f6f6);
$disabled-line: var(--promiseui-disabled-line, #dfe1e6);
$disabled-text: var(--promiseui-disabled-text, #cbcacb);
$placeholder: var(--promiseui-placeholder, #babbc0);
