//圆角变量

$border-radius: var(--promiseui-border-radius, 2px); //一般圆角
$border-radius-feedback: var(
  --promiseui-border-radius-feedback,
  4px
); //反馈类圆角
$border-radius-card: var(--promiseui-border-radius-card, 6px); //卡片圆角
