@import "../../styles-var";;

.#{$prefix}-icon {
  /* your style */
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  vertical-align: -0.125em;
  line-height: 1;
  display: inline-block;
  color: inherit;
  >* {
    width: 1em;
    height: 1em;
    color: inherit;
  }
  >svg:not([fill]) {
    fill: currentColor;
  }
}