@import "../../styles-var";;

.#{$prefix}-button {
  /*yourstyle*/color: $light-text;
  outline: none;
  border: none;
  background-color: transparent;
  @include font-content();
  border-radius: $border-radius;
  border: 1px solid transparent;
  transition: 0.25s;
  &:disabled {
    &:hover{
      cursor: not-allowed;
    }
    opacity: 0.5;
  }
  &:hover,&:focus {
    opacity: 0.9;
    cursor: pointer;
  }

  &--xs {
    font-size: $font-size-sm;
    padding: 0 4px;
    height: 24px;
    
  }
  &--sm {
    font-size: $font-size-sm;
    padding: 0 16px;
    height: 24px;
  }
  &--md {
    font-size: $font-size-md;
    padding: 0 16px;
    height:28px;
  }
  &--lg {
    font-size: $font-size-lg;
    padding: 0 24px;
    height: 32px;
  }
  &--success {
    background-color: $success;
    border-color: $success;
    &:active {
      background-color: $success-active;
    }

  }
  &--primary {
    background-color: $brand;
    border-color: $brand;
    &:active {
      background-color: $brand-active;
    }
  }
  &--info {
    background-color: $info;
    border-color: $info;

    &:active {
      background-color: $info-active;
    }
  }
  &--warning {
    background-color: $warning;
    border-color: $warning;

    &:active {
      background-color: $warning-active;
    }
  }
  &--danger {
    background-color: $danger;
    border-color: $danger;
    &:active {
      background-color: $danger-active;
    }
  }
  &--success, &--primary, &--info, &--warning, &--danger {
    &:disabled {
      opacity: 0.5;
    }
  }
  &--outline,&--dashed,  &--none {
    background-color: #fff;
    &.#{$prefix}-button{
      &:active {
        color: #fff;
      }
      &--success {
        color: $success;
      }
      &--primary {
        color: $brand;
      }
      &--info {
        color: $info;
      }
      &--warning {
        color: $warning;
      }
      &--danger {
        color: $danger;
      }
    }
  }
  
  &--none {
    background-color: #fff;
    border-color: transparent;
  }
  &--dashed {
    border-style: dashed;
  }
}