@import '../../styles-var';

.#{$prefix}-button {
  /*yourstyle*/
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $light-text;
  outline: none;
  border: none;
  background-color: transparent;
  @include font-content();
  border-radius: $border-radius;
  border: 1px solid transparent;
  transition: 0.15s;
  user-select: none;
  cursor: pointer;
  &:disabled {
    &:hover {
      cursor: not-allowed;
    }
    opacity: 0.5;
  }
  &:hover,
  &:focus {
    opacity: 0.9;
  }

  &--xs {
    font-size: $font-size-sm;
    padding: 0 6px;
    height: 26px;
    border-radius: 2px;
  }
  &--sm {
    font-size: $font-size-sm;
    padding: 0 18px;
    height: 28px;
  }
  &--md {
    font-size: $font-size-md;
    padding: 0 20px;
    height: 32px;
  }
  &--lg {
    font-size: $font-size-lg;
    padding: 0 28px;
    height: 36px;
  }

  &--default {
    color: $text;
    border-color: $border-color;
    background-color: $base-bg;

    &:hover:not(&:disabled),
    &:active:not(&:disabled),
    &:focus:not(&:disabled) {
      color: $brand;
      border-color: $brand;
    }
  }
  &--primary {
    background-color: $brand;
    border-color: $brand;
    &:active {
      background-color: $brand-active;
    }
  }
  &--info {
    background-color: $info;
    border-color: $info;

    &:active {
      background-color: $info-active;
    }
  }
  &--warning {
    background-color: $warning;
    border-color: $warning;

    &:active {
      background-color: $warning-active;
    }
  }
  &--danger {
    background-color: $danger;
    border-color: $danger;
    &:active {
      background-color: $danger-active;
    }
  }
  &--success {
    background-color: $success;
    border-color: $success;
    &:active {
      background-color: $success-active;
    }
  }
  &--default,
  &--success,
  &--primary,
  &--info,
  &--warning,
  &--danger {
    &:disabled {
      opacity: 0.5;
    }
  }

  &--outline,
  &--dashed,
  &--none {
    background-color: transparent;
    &.#{$prefix}-button {
      &--success {
        color: $success;
      }
      &--primary {
        color: $brand;
      }
      &--info {
        color: $info;
      }
      &--warning {
        color: $warning;
      }
      &--danger {
        color: $danger;
      }
    }
  }

  &--none {
    background-color: transparent;
    border-color: transparent;

    &.#{$prefix}-button {
      &:hover:not(&:disabled),
      &:active:not(&:disabled),
      &:focus:not(&:disabled) {
        border-color: transparent;
      }
      &:hover {
        &.#{$prefix}-button {
          &--default {
            background-color: $brand-bg;
          }
          &--primary {
            background-color: $brand-bg;
          }
          &--info {
            background-color: $info-bg;
          }
          &--warning {
            background-color: $warning-bg;
          }
          &--danger {
            background-color: $danger-bg;
          }
          &--success {
            background-color: $success-bg;
          }
        }
      }
    }
  }

  &--dashed {
    border-style: dashed;
  }
  &__loading {
    margin-right: 4px;
    animation: loading 1s infinite linear;
  }
  &--isloading {
    cursor: wait !important;
  }
  @keyframes loading {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  &--mousedown {
    transform: translateY(2%);
  }
}
