@import '../../styles-var';

.#{$prefix}-scrollbar__wrap {
  position: relative;
  overflow: hidden;
  height: 100%;
  &:hover {
    .#{$prefix}-scrollbar__bar_y,
    .#{$prefix}-scrollbar__bar_x {
      display: block;
    }
  }
}

.#{$prefix}-scrollbar__view {
  overflow: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.#{$prefix}-scrollbar__bar_y {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 5px;
  background-color: $scrollbar-color;
  &:hover {
    background-color: $scrollbar-color-hover;
  }
  border-radius: $border-radius;
  user-select: none;
  cursor: pointer;
  z-index: 1000;
}
.#{$prefix}-scrollbar__bar_x {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 5px;
  background-color: $scrollbar-color;
  z-index: 1000;
  &:hover {
    background-color: $scrollbar-color-hover;
  }
  border-radius: $border-radius;
  user-select: none;
  cursor: pointer;
}
