@import '../../styles-var';

.#{$prefix}-message {
  /* your style */
  position: fixed;
  display: flex;
  align-items: center;
  z-index: 999;
  left: 50%;
  transform: translate(-50%);
  padding: 12px 8px;
  color: $light-text;
  border-radius: $border-radius;
  font-size: $font-size-lg;
  color: $text;
  box-shadow: $box-shadow;
  font-weight: $font-title-weight;
  .#{$prefix}-icon {
    font-size: 18px;
  }
  &--success {
    color: $success;
  }
  &--warning {
    color: $warning;
  }
  &--info {
    color: $info;
  }
  &--error {
    color: $danger;
  }
  &__content {
    padding-left: 8px;
    padding-right: 3px;
  }
  &__close {
    margin-left: 7px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      background-color: $bg-hover;
    }
  }
}

.message-fade-enter-active,
.message-fade-leave-active {
  transition: 0.3s;
}

.message-fade-enter-from,
.message-fade-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}
