@import '../../../styles/index.scss';
.#{$prefix}-empty {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: $placeholder;
  &--md {
    font-size: $font-size-md;
  }
  &--sm {
    font-size: $font-size-sm;
  }
  &--lg {
    font-size: $font-size-lg;
  }
  &__description {
    margin-top: 8px;
  }
  svg {
    width: 3em;
    height: 3em;
    fill: currentColor;
  }
}
