@import '../../styles-var';

.#{$prefix}-radio-group {
  position: relative;
  display: inline-block;
}

.#{$prefix}-radio {
  /* your style */
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: $text-weak;
  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &--checked {
    .#{$prefix}-radio__inner {
      &::before {
        transform: scale(1);
        background-color: $brand;
      }
    }
  }
  &:hover {
    .#{$prefix}-radio__inner {
      border-color: $brand;
      transition: all 0.2s;
    }
  }
  &__input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  &__inner {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $line;
    &::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      left: 50%;
      top: 50%;
      margin-left: -4px;
      margin-top: -4px;
      border-radius: 50%;
      background-color: $brand;
      transform: scale(0);
      transition: all 0.1s;
      z-index: 1;
    }
  }
  &__label {
    padding: 0 8px;
  }
}

.#{$prefix}-radio-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  background-color: $block;
  color: $text;
  @include font-content();
  border: 2px solid $line;
  border-left-width: 1px;
  border-right-width: 1px;
  transition: all 0.2s;
  &--sm {
    font-size: $font-size-sm;
    padding: 0 18px;
    height: 28px;
  }
  &--md {
    font-size: $font-size-md;
    padding: 0 20px;
    height: 32px;
  }
  &--lg {
    font-size: $font-size-lg;
    padding: 0 28px;
    height: 36px;
  }
  &--checked {
    border-color: $brand;
    color: $brand;
    z-index: 1;
    border-right-color: $brand;
    &.#{$prefix}-radio-button:first-child {
    }
  }

  &:first-child {
    border-bottom-left-radius: $border-radius;
    border-top-left-radius: $border-radius;
    border-left-width: 2px;
  }
  &:last-child {
    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
    border-right-width: 2px;
  }
  &:hover {
    color: $brand;
  }
  &:active {
    border-color: $brand;
  }
  &__input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
  &__label {
    padding: 0 8px;
  }
}
