@import '../../styles-var';

.#{$prefix}-tabs {
  box-sizing: border-box;
  margin: 14px 0;
  &__header-wrapper {
    position: relative;

    overflow-x: auto;
    overflow-y: hidden;
  }
  &__header {
    position: relative;
    font-size: $font-size-card-title;
    font-weight: $font-title-weight;
    color: $text;
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px $line solid;
    &--center {
      text-align: center;
    }
  }
  &__content {
    margin-top: 20px;
    transition: 0.1s;
  }
  &__active-bar {
    position: absolute;
    bottom: -1px;
    left: 0;
    height: 2px;
    background-color: $brand;
    z-index: 1;
    transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}
.#{$prefix}-tab-pane {
  display: inline-flex;
  align-items: center;
  height: 40px;
  transition: 0.2s;

  &--active {
    color: $brand;
  }
  &:hover {
    color: $brand;
    cursor: pointer;
  }
  &:not(:first-child) {
    margin-left: 32px;
  }
}
.#{$prefix}-tabs__pane-add {
  padding: 8px 12px;
  border: 1px solid $border-color;
  border-bottom: 1px solid $base-bg;
  transform: translateY(5px);
  transition: 0.2s;
  font-weight: normal;
  font-size: 20px;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;

  margin-left: 4px;

  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: $brand;
    cursor: pointer;
  }
}
.#{$prefix}-tabs--card,
.#{$prefix}-tabs--editable-card {
  .#{$prefix}-tab-pane {
    padding: 8px 12px;
    border: 1px solid $border-color;
    border-bottom: 1px solid $base-bg;
    transform: translateY(1px);
    transition: 0.2s;
    font-weight: normal;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    margin-top: 5px;
    &__close-icon {
      margin-left: 10px;
      transform: scale(1.2);
    }
    &--active {
      background-color: $item-bg-hover;
    }

    &:not(:first-child) {
      margin-left: 4px;
    }
  }
  .#{$prefix}-tabs__active-bar {
    display: none;
  }
  .#{$prefix}-tabs__header {
    border-bottom: 1px solid $border-color;
  }
}
.prev-transition-enter-from {
  .#{$prefix}-tabs__content {
    transform: translateX(-25px);
    opacity: 0.8;
  }
}
.prev-transition-enter-active,
.prev-transition-leave-active {
  transition: 0.2s;
  overflow: hidden;
}
.prev-transition-leave-to {
  .#{$prefix}-tabs__content {
    transition: 0;
    opacity: 0;
  }
}

.next-transition-enter-from {
  .#{$prefix}-tabs__content {
    transform: translateX(25px);
    opacity: 0.8;
  }
}
.next-transition-enter-active,
.next-transition-leave-active {
  transition: 0.2s;
  overflow: hidden;
}
.next-transition-leave-to {
  .#{$prefix}-tabs__content {
    transition: 0;
    opacity: 0;
  }
}
