@import '../../styles-var';

.#{$prefix}-switch {
  /* your style */
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  background-color: $line;
  white-space: nowrap;
  &--disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  padding: 0 5px;
  &__message {
    color: $light-text;
    transition: all 0.3s ease-in-out;
  }
  &:active {
    .#{$prefix}-switch__button {
      &::before {
        right: -30%;
        left: 0;
      }
    }
  }
  &--checked {
    &:active {
      .#{$prefix}-switch__button {
        &::before {
          left: -30%;
          right: 0;
        }
      }
    }
  }
  &__button {
    position: absolute;
    z-index: 1;
    transition: 0.5s;

    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      fill: $text;
      z-index: 2;
    }
    &::before {
      position: absolute;
      background-color: $light-text;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all 0.2s ease-in-out;
    }
  }
  &--checked {
    &.#{$prefix}-switch--md {
      .#{$prefix}-switch__message {
        padding-right: 18px;
        padding-left: 0;
      }
      .#{$prefix}-switch__button {
        left: calc(100% - 2px - 18px);
      }
    }
    &.#{$prefix}-switch--sm {
      .#{$prefix}-switch__message {
        padding-left: 0;
        padding-right: 12px;
      }
      .#{$prefix}-switch__button {
        left: calc(100% - 2px - 12px);
      }
    }
    &.#{$prefix}-switch--lg {
      .#{$prefix}-switch__message {
        padding-left: 0;
        padding-right: 22px;
      }
      .#{$prefix}-switch__button {
        left: calc(100% - 2px - 22px);
      }
    }
  }

  &--md {
    min-width: 40px;
    height: 22px;
    border-radius: 11px;
    font-size: $font-size;
    .icon {
      width: 14px;
      height: 14px;
      margin-left: -7px;
      margin-top: -7px;
    }
    .#{$prefix}-switch__message {
      padding-left: 18px;
      padding-right: 0;
    }
    .#{$prefix}-switch__button {
      width: 18px;
      height: 18px;
      top: 2px;
      left: 2px;
      &::before {
        border-radius: 22px;
      }
    }
  }

  &--sm {
    min-width: 28px;
    height: 16px;
    border-radius: 8px;
    font-size: $font-size;
    .icon {
      width: 8px;
      height: 8px;
      margin-left: -4px;
      margin-top: -4px;
    }
    .#{$prefix}-switch__message {
      padding-left: 12px;
      padding-right: 0;
    }
    .#{$prefix}-switch__button {
      width: 12px;
      height: 12px;
      top: 2px;
      left: 2px;
      &::before {
        border-radius: 6px;
      }
    }
  }

  &--lg {
    min-width: 48px;
    height: 26px;
    border-radius: 13px;
    font-size: $font-size-lg;
    .icon {
      width: 18px;
      height: 18px;
      margin-left: -9px;
      margin-top: -9px;
    }
    .#{$prefix}-switch__message {
      padding-left: 22px;
      padding-right: 0;
    }
    .#{$prefix}-switch__button {
      width: 22px;
      height: 22px;
      top: 2px;
      left: 2px;
      &::before {
        border-radius: 11px;
      }
    }
  }
  &--primary {
    border-color: $brand;
    .icon {
      fill: $brand;
    }
    &.#{$prefix}-switch--checked {
      background-color: $brand;
    }
  }
  &--success {
    border-color: $success;
    .icon {
      fill: $success;
    }
    &.#{$prefix}-switch--checked {
      background-color: $success;
    }
  }
  &--info {
    .icon {
      fill: $info;
    }
    border-color: $info;
    &.#{$prefix}-switch--checked {
      background-color: $info;
    }
  }
  &--warning {
    .icon {
      fill: $warning;
    }
    border-color: $warning;
    &.#{$prefix}-switch--checked {
      background-color: $warning;
    }
  }
  &--danger {
    .icon {
      fill: $danger;
    }
    border-color: $danger;
    &.#{$prefix}-switch--checked {
      background-color: $danger;
    }
  }
  &--custom-active-color {
    .icon {
      fill: var(--switch-custom-active-color, $brand);
    }
    border-color: var(--switch-custom-active-color, $brand);
    &.#{$prefix}-switch--checked {
      background-color: var(--switch-custom-active-color, $brand);
    }
  }
}
