@import '../../styles-var';

.#{$prefix}-select {
  /* your style */
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  height: 30px;
  border: 1px solid $border-color;
  cursor: pointer;
  color: $text;
  padding: 0 10px;
  font-size: $font-size-lg;
  &__tags {
    display: flex;
    flex-wrap: wrap;
  }
  &__tag {
    margin-right: 10px;
  }
  &__single-value {
    @include text-overflow;
  }
  &__input {
    @include text-overflow;
  }
  &__option {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    font-size: $font-size-lg;
    &:hover {
      background-color: $item-bg-hover;
    }
    &--active {
      background-color: $item-bg-hover;
      color: $brand;
      font-weight: $font-title-weight;
    }
  }
  &__option_content {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
