@import '../../styles-var';

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: $color;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: $color;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: $color;
  }
}
@mixin base-select {
  /* your style */
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid $border-color;
  cursor: pointer;
  color: $text;
  @include form-status;
  transition: all 0.2s, box-shadow 0.4s;
  &--focus {
    border-color: $brand;
    box-shadow: 0 0 4px 2px $brand-shadow;
  }
  &--sm {
    min-height: 28px;
    padding: 1.5px 10px;
    font-size: $font-size-sm;
  }
  &--md {
    min-height: 32px;
    padding: 1.5px 10px;
    font-size: $font-size-md;
  }
  &--lg {
    min-height: 36px;
    padding: 1.5px 10px;
    font-size: $font-size-lg;
  }
  &__input {
    background-color: transparent;

    display: inline-flex;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    border: none;
    padding: 0;
  }
  &__option {
    user-select: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    font-size: $font-size-lg;
    &:hover {
      background-color: $item-bg-hover;
    }
    &--active {
      background-color: $item-bg-hover;
      color: $brand;
      font-weight: $font-title-weight;
    }
    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  &__option_content {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
.#{$prefix}-select {
  @include base-select;
  &__tags {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }
  &__tag {
    margin: 1.5px 7px 1.5px 0;
  }
  &__single-value {
    flex: 1;
    @include text-overflow;
    &--placeholder {
      color: $placeholder;
    }
  }
  &__placeholder {
    color: $placeholder;
  }
  &__input {
    @include placeholder-color($text);
    &:focus {
      @include placeholder-color($placeholder);
    }
  }
  &__single-value-input {
  }

  &__no-match {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    > * {
      cursor: not-allowed;
    }
  }
  &__clear {
    display: flex;
    align-items: center;
    padding: 2px;
    border-radius: 50%;
    color: $text-weak;
    &:hover {
      background-color: $item-bg-hover;
    }
  }
  &__tag-dropdown {
    width: 300px;
    padding: 5px;
  }
}
