@import '../../styles-var';

.#{$prefix}-input {
  /* your style */
  position: relative;
  display: flex;
  align-items: center;
  height: 32px;
  font-size: $font-size-md;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  transition: all 0.2s, box-shadow 0.4s;
  box-shadow: 0 0 4px 2px transparent;
  padding: 0 10px;

  &__icon {
    cursor: pointer;
  }
  &:hover {
    border-color: $brand-hover;
  }
  &::placeholder {
    color: $placeholder;
  }
  &--focus {
    border-color: $brand;
    .pui-icon.pui-icon svg {
      fill: $brand-hover;
      color: $brand-hover;
    }
    box-shadow: 0 0 4px 2px $brand-shadow;
  }
  &--lg {
    height: 36px;
    font-size: $font-size-lg;
  }
  &--sm {
    height: 28px;
    font-size: $font-size-sm;
  }
  &--disabled {
    user-select: none;
    cursor: not-allowed;
    background-color: $disabled-bg;
    .#{$prefix}-input__inner {
      color: $disabled-text;
      cursor: not-allowed;
    }
    &:hover {
      border-color: $border-color;
    }
  }
  &__inner {
    outline: none;
    width: 100%;
    border: none;
    padding: 0 5px;
    background-color: transparent;
    color: $text;
  }
  &__prepend,
  &__append {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 100%;
    font-size: $font-size-lg;
    color: $text;
  }
  &__append {
    border-left: 1px solid $border-color;
  }
  &__prepend {
    border-right: 1px solid $border-color;
  }
  &__label {
    position: absolute;
    color: $placeholder;
    top: 0;
    left: 15px;
    transition: 0.2s;
    transform: translateY(50%);
  }
  &--focus {
    .#{$prefix}-input__label {
      top: -28px;
      left: 0;
      color: $text;
    }
  }
}
