@import '../../styles-var';

.#{$prefix}-table {
  position: relative;
  text-align: left;
  border-radius: $border-radius;
  color: $text;
  &--md {
    .#{$prefix}-table__cell {
      padding: 16px;
    }
  }
  &--sm {
    .#{$prefix}-table__cell {
      padding: 12px;
    }
  }
  &--lg {
    .#{$prefix}-table__cell {
      padding: 20px;
    }
  }
  &__table {
    display: table;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
  }
  &--isleft {
    .#{$prefix}-table__cell--fixed-left {
      &-last {
        &::after {
          box-shadow: none;
        }
      }
    }
  }
  &--isright {
    .#{$prefix}-table__cell--fixed-right {
      &-first {
        &::after {
          box-shadow: none;
        }
      }
    }
  }
  &__cell--fixed-left {
    position: sticky;
    left: 0;
    z-index: 1;
    &-last {
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -1px;
        width: 30px;
        transform: translate(100%);
        transition: box-shadow 0.3s;
        content: '';
        pointer-events: none;
        box-shadow: inset 10px 0 8px -8px #00000026;
      }
    }
  }
  &__cell--fixed-right {
    position: sticky;
    right: 0;
    z-index: 1;
    &-first {
      &::after {
        position: absolute;
        top: 0;
        bottom: -1px;
        left: 0;
        width: 30px;
        transform: translate(-100%);
        transition: box-shadow 0.3s;
        content: '';
        pointer-events: none;
        box-shadow: inset -10px 0 8px -8px $shadow;
      }
    }
  }
  &__body-wrap {
    overflow: auto;
  }
  &__header-wrap {
    overflow: scroll;
    scrollbar-width: none;
    background-color: $info-bg;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
  &__body {
  }
  &__empty {
    padding: 48px 0;
  }
  &__selection {
    text-align: center;
    width: 50px;
  }
  &__filter-option.#{$prefix}-dropdown-item {
    padding: 0;
    .#{$prefix}-checkbox {
      margin-right: 0;
      width: 100%;
      padding: 0 17px;
    }
  }

  &__filter {
    display: inline-flex;
    vertical-align: middle;
    cursor: pointer;
    padding-left: 2px;
    svg {
      fill: $line !important;
      color: $line !important;
    }
  }

  &__filter-action {
    display: flex;
    justify-content: space-between;
    padding: 7px 8px;
    border-top: 1px solid $border-color;
  }
  &__sorter {
    width: 16px;
    height: 16px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding-left: 2px;
    svg {
      fill: $line !important;
      color: $line !important;
      font-size: 11px;
    }
  }
  &--sorter-active {
    svg {
      fill: $brand-active !important;
      color: $brand-active !important;
    }
  }
  &__cell--ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: keep-all;
  }
  &__row:last-child > td {
    border-bottom: none;
  }
  &__header {
    color: $title-text;
    th {
      font-weight: 500;
      color: $title-text;
      vertical-align: middle;
      background-color: $fill-color-lighter;
    }
  }
  &__cell {
    overflow-wrap: break-word;
    border-bottom: 1px solid $border-color;
    background-color: inherit;
  }
  &__row {
    background-color: $base-bg;
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
      background-color: $fill-color-light;
    }
  }
}
// 样式
.#{$prefix}-table {
  &--border {
    border: 1px solid $border-color;
    .#{$prefix}-table__cell {
      border-right: 1px solid $border-color;
      &:last-child {
        border-right: none;
      }
    }
  }
  &--stripe {
    .#{$prefix}-table__row {
      &:nth-child(2n) {
        background-color: $fill-color-lighter;
      }
    }
  }
}
