@import '../../styles-var';

.#{$prefix}-table {
  width: 100%;
  text-align: left;
  border-radius: $border-radius;
  border-spacing: 0;
  border-collapse: separate;
  // border: 1px solid $border-color;
  &__row:last-child > td {
    border-bottom: none;
  }
  &__header {
  }
  &__cell {
    padding: 16px;
    overflow-wrap: break-word;
    border-bottom: 1px solid $border-color;
  }
  &__row {
    &:nth-child(2n) {
      background-color: $item-bg-hover;
    }
  }
}
