ul {
  padding: 0;
  margin: 0;
  li {
    height: 50px;
    border: 1px solid red;
  }
}
.scroll-container {
  height: 100vh;
  overflow-y: auto;
  ul {
    will-change: padding-top, padding-bottom;
  }
}
