@import '../../styles-var';

.#{$prefix}-checkbox {
  display: inline-flex;
  align-items: center;
  margin-right: 12px;
  cursor: pointer;
  &:hover {
    .#{$prefix}-checkbox__border {
      border-color: $brand;
    }
  }
  &--disabled {
    opacity: 0.5;
    &:hover {
      .#{$prefix}-checkbox__border {
        border-color: $border-color;
      }
    }
    cursor: not-allowed;
    .#{$prefix}-checkbox__label {
      cursor: not-allowed;
    }
  }
  &--checked {
    .#{$prefix}-checkbox__border {
      border-color: $brand;
      background-color: $brand;
      box-shadow: 0 0 1px 1px $brand-hover;
    }
  }
  &__border {
    position: relative;
    border-radius: 2px;
    border: 1px solid $border-color;
    transition: border-color 0.2s;
    .#{$prefix}-checkbox__icon {
      position: absolute;
      left: -1px;
      top: -1px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    z-index: 1;
  }
  &__label {
    display: inline;
    user-select: none;
    padding: 0 8px;
    color: $text-weak;
    cursor: pointer;
  }
  &--md {
    font-size: $font-size-md;
    .#{$prefix}-checkbox__border {
      width: 16px;
      height: 16px;
    }
    .#{$prefix}-icon {
      font-size: 16px;
    }
  }
  &--sm {
    font-size: $font-size-sm;
    .#{$prefix}-checkbox__border {
      width: 14px;
      height: 14px;
    }
    .#{$prefix}-icon {
      font-size: 14px;
    }
  }
  &--lg {
    font-size: $font-size-lg;
    .#{$prefix}-checkbox__border {
      width: 18px;
      height: 18px;
    }
    .#{$prefix}-icon {
      font-size: 18px;
    }
  }
}
