@import '../../styles-var';

.#{$prefix}-virtualScroll {
  position: relative;
  ul {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    will-change: padding-top, padding-bottom;
    transform: translate3d(0, 0, 0);
  }
  &__load-more {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-md;
    z-index: 1;
    > span {
      padding: 0 5px;
    }
  }
}
