@import '../../styles-var';

.#{$prefix}-loading-bar-enter-from {
  > div.#{$prefix}-loading-bar {
    max-width: 0%;
  }
}
.#{$prefix}-loading-bar-leave-to {
  > div.#{$prefix}-loading-bar {
    max-width: 100%;
    background-color: transparent;
  }
}
.#{$prefix}-loading-bar-leave-active {
  transition: all 0.2s;
  > div.#{$prefix}-loading-bar {
    transition: max-width 0.2s linear, background-color 0.4s linear;
  }
}
.#{$prefix}-loading-bar-enter-active {
  transition: all 4s;
  > div.#{$prefix}-loading-bar {
    transition: max-width 4s linear;
  }
}
.#{$prefix}-loading-bar__container {
  /* your style */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  z-index: 1000;
  .#{$prefix}-loading-bar {
    max-width: 80%;
    width: 100%;
    height: 100%;
    background-color: $brand;
    &--error {
      background-color: $danger;
    }
  }
}
