@import '../../../styles/prefix';

.#{$prefix}-loading-icon {
  animation: loading 1s infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
