@import '../../styles-var';

.#{$prefix}-overlay {
  /* your style */
  position: fixed;
  padding: 5px 12px;
  background-color: $block;
  @include font-content;
  box-shadow: 0 2px 8px 0 $shadow;
  z-index: 1000;
  color: $text;
  .#{$prefix}-overlay__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-width: 8px;
    border-color: transparent;
    border-style: solid;
  }
  &--top,
  &--top-start,
  &--top-end {
    .#{$prefix}-overlay__arrow {
      bottom: -8px - 8px;
      border-top-color: $block;
    }
  }
  &--bottom,
  &--bottom-start,
  &--bottom-end {
    .#{$prefix}-overlay__arrow {
      top: -8px - 8px;
      border-bottom-color: $block;
    }
  }
  &--left,
  &--left-start,
  &--left-end {
    .#{$prefix}-overlay__arrow {
      right: -8px - 8px;
      border-left-color: $block;
    }
  }
  &--right,
  &--right-start,
  &--right-end {
    .#{$prefix}-overlay__arrow {
      left: -8px - 8px;
      border-right-color: $block;
    }
  }
  &--left {
    .#{$prefix}-overlay__arrow {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &--left-start {
    .#{$prefix}-overlay__arrow {
      top: 5px;
    }
  }
  &--left-end {
    .#{$prefix}-overlay__arrow {
      bottom: 5px;
    }
  }
  &--right {
    .#{$prefix}-overlay__arrow {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &--right-start {
    .#{$prefix}-overlay__arrow {
      top: 5px;
    }
  }
  &--right-end {
    .#{$prefix}-overlay__arrow {
      bottom: 5px;
    }
  }
  &--top {
    .#{$prefix}-overlay__arrow {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &--top-start {
    .#{$prefix}-overlay__arrow {
      left: 12px;
    }
  }
  &--top-end {
    .#{$prefix}-overlay__arrow {
      right: 12px;
    }
  }

  &--bottom {
    .#{$prefix}-overlay__arrow {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &--bottom-start {
    .#{$prefix}-overlay__arrow {
      left: 12px;
    }
  }
  &--bottom-end {
    .#{$prefix}-overlay__arrow {
      right: 12px;
    }
  }
}
